.square{
    height: 200px;
    width: 200px;
    border: 1px solid gold;
}



.grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
}

.mole{
    background-image: url(mole.jpg);
    background-size: cover;
}